.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    padding: 0;
    gap: 20px;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

.linkMenu {
    text-decoration: none;
    font-size: 44px;
}
